.asset {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  user-select: none;

  &[data-type='monsters'] {
    z-index: 110;
  }

  &[data-type='tiles'] {
    pointer-events: none;
  }

  img {
    pointer-events: none;
  }
}
