.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}

.map {
  position: absolute;
}

.asset {
  &[data-type='tokens'] {
    z-index: 120;
  }

  &[data-asset^='scenario'],
  &[data-asset='coin'] {
    z-index: 125;
  }

  &[data-type='monsters'] {
    z-index: 130;

    &[data-monster-count] {
      &::after {
        content: attr(data-monster-count);
        display: flex;
        position: absolute;
        bottom: 22%;
        left: calc(50% - 10px);
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border: 2px solid var(--color-text);
        border-radius: 50%;
        background-color: var(--color-monsterBg);
        color: var(--color-text);
        font-weight: 600;
      }

      &[data-monster-level='elite'] {
        &::after {
          border-color: var(--color-text);
          background-color: var(--color-monsterEliteBg);
          color: var(--color-text);
        }
      }

      &[data-monster-large-count] {
        font-size: 12px;
      }
    }
  }

  &[data-type='classes'] {
    z-index: 140;
  }

  &.inTransit {
    filter: brightness(0.5) opacity(0.9);
  }
}
